POSTGRES_DB=erp_financial_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_HOST_AUTH_METHOD=trust

BACKEND_DATABASE_URL=postgresql://postgres:@postgres:5432/erp_financial_db?schema=public
FRONTEND_DATABASE_URL=postgresql://postgres:@postgres:5432/erp_financial_db

CORS_ORIGIN=http://localhost:3000
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=change_me_minimum_32_characters_long
NEXT_PUBLIC_API_URL=http://localhost:4000
DATABASE_SSL=false
